body {
    background-color: rgb(222, 221, 221);
}

.header {
    text-align: center;
    margin-top: 50px;
    /* font-weight: ; */
}

input {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 0px;
    background-color: #ffffff;
    height: 35px;
    
}

select {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 0px;
    background-color: #ffffff;
    height: 35px;
    
}

text {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 0px;
    background-color: #ffffff;
    resize: vertical;
    
}

.form-container div label {
    font-size: medium;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    /* background-color: red; */
}

.form-container div {
    display: flex;
    flex-direction: column;
}

.form-container div button {
    margin-top: 20px;
    margin-bottom: 50px ;
    background-color: black;
    color: #ffffff; 
    width: fit-content; 
    border-radius: 50px;
    border-style: none;
    padding: 7px;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    align-self: end;
    font-weight: bold;
    cursor: pointer;
}

.form-container div button:hover {
    background-color: rgb(52, 52, 52);
    color: #ffffff; 
}

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: auto; */
    margin-top: 50px;
    /* background-color: aqua; */
    /* align-items: center; */
    /* height: 100vb; */
}